body{
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f8f9fa;
    margin: 40px;
}
.amount{
    display: block;
    justify-items: center;
    margin-top: 20px;
    padding: 10px 20px;
    border: 2px solid rgb(67, 53, 53);
    font-size: 16px;
    color: gray;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 30px;
}
.main{
    margin-bottom: 20px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.25);

}
.title {
    font-size: 28px;
    font-weight: bold;
    text-align: left;
    padding-top: 20px;
    margin-left: 30px;
    
}
.summary-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px auto;
}
.summary-item {
    margin-left: 30px;
    margin-right: 30px;
    flex: 1;
    text-align: center;
    padding:10px;
    padding-top: 30px;
    padding-bottom: 30px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    width: 150px;
    padding-left:10px;
    justify-items: center;
}
.table-container{
    margin:auto;
    width:60%;
    display: flex;
    flex:1;
}
table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 75px;
}
th,td{
    border: 2px solid black;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right:30px;
}
th{
    background-color: rgb(12, 110, 238);
    color:rgb(255, 255, 255);
}
.add-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color:  rgb(12, 110, 238);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 30px;
}
.expense-button{
    margin-top: 20px;
    padding: 10px 20px;
    border: 2px solid black;
    font-size: 16px;
    color: gray;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 30px;
}